.feature-two {
  position: relative;
  padding-top: 50px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.feat-two-title-one {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: #7114ef;
}

.feat-two-title-two {
  margin-top: 20px;
  font-size: 18px;
  color: #38373787;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 66px;
}

.feat-card {
  position: relative;
  padding: 50px 30px;
  text-align: center;
  box-shadow: rgba(21, 21, 167, 0.281) 0px 7px 29px 0px;
  transition: all 0.5s ease;
}

.feat-card:hover {
  box-shadow: rgba(182, 130, 210, 0.35) 0px 5px 15px;
}

.feat-card::after {
  --right: 100%;
  content: "";
  position: absolute;
  inset: calc(100% - 3px) var(--right) 0 0;
  background: #6363ff;
  transition: all 0.5s ease;
  z-index: 1;
}

.feat-card:hover::after {
  --right: 0;
}

.feat-card-head {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feat-card-head .feat-card-i i {
  font-size: 2em;
  color: #6363ff;
  --i-stroke-width: 0.5em;
}

.feat-card-head .feat-card-round-border {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 1px solid #6363ff00;

  border-radius: 10em;
  transform: rotate(-45deg);
  animation: rotate-360 2s linear infinite;
  animation-play-state: paused;
  background: #f4f6fd;
  z-index: -1;
}

.feat-card:hover .feat-card-round-border {
  animation-play-state: running;
}

.feat-card-head .feat-circle {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #6363ff;
  border-radius: 100%;
  top: -7px;
  transform: translateX(-50%);
  box-shadow: 0 118px 0 #ff2f60;
}

.feat-card-body {
  margin-top: 30px;
}

.feat-card-body h3 {
  font-size: 30px;
  color: #495057;
  margin-bottom: 10px;
  font-weight: 700;
}

.feat-card-body p {
  color: #383737ef;
  margin-bottom: 30px;
  font-size: 18px;
  margin-top: 26px;
}

.feat-card-body .btn {
  background-color: #6363ff;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 700;
  border-radius: 0px;
  padding: 10px 43px;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
  margin-top: 34px;
  border-radius: 12em;
}

.feat-card-body .btn:hover {
  color: #ffffff;
}

.feat-card-body .btn::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 220%;
  height: 438%;
  background: #000000;
  transition: all 0.5s ease-in-out;
  transform: translate(-98%, -25%) rotate(60deg);
}

.feat-card-body .btn:hover.btn::before {
  background: #000000;
  transform: translate(-9%, -25%) rotate(45deg);
}
