/* contant html part css */
.about-first {
  position: relative;
  background-image: url(../assets/images/1.jpg);
  background-size: cover;
  padding: 155px 0px 40px;
}

.about-first::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.75;
  background-color: #010f23;
}

.about-main {
  position: relative;
  top: 125px;
  z-index: 1;
}

.about-main .about-title {
  color: #5555ff;
  font-weight: 700;
}

.about-main .about-text {
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.about-icon-img img {
  z-index: 1;
  position: relative;
  width: 70%;
  float: right;
}

/* about html part css */
.about-one-part {
  position: relative;
  padding: 90px 0px 60px;
}

.about-one-content {
  position: relative;
  margin-bottom: 30px;
}

.about-cont-inner {
  position: relative;
  padding-right: 100px;
}

.about-one-sec-title {
  position: relative;
  z-index: 1;
  margin-bottom: 45px;
}

.about-us-title {
  position: relative;
  font-weight: 700;
  color: #0d6efd;
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
  padding-right: 50px;
}

.about-us-heading {
  position: relative;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
}

.about-us-heading span {
  color: #0d6efd;
}

.about-us-text {
  line-height: 30px;
  font-size: 18px;
  color: rgb(0, 7, 11);
  margin-top: 20px;
}

.about-info-tabs {
  position: relative;
}

.about-info-tabs .about-info-tab-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.about-info-tabs .about-info-tab-box::before {
  position: absolute;
  content: "";
  height: 5px;
  top: 62px;
  left: 25px;
  background: gainsboro;
  width: 511px;
  border-radius: 5px;
  display: inline-block;
}

.about-info-tabs .about-info-tab-box .tab-btn {
  font-size: 18px;
  font-weight: 700;
  color: #191919;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}

.about-info-tabs .about-info-tab-box .tab-btn.active {
  color: #0d6efd;
}

.about-info-tabs .about-info-tab-box .line {
  position: absolute;
  top: 62px;
  left: 26px;
  width: 142px;
  height: 5px;
  background: #0d6efd;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.tab-content-box {
  padding: 20px;
}

.tab-content-box .tab-content {
  display: none;
  animation: moving 0.5s ease-in-out;
}

@keyframes moving {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(-0px);
    opacity: 1;
  }
}

.tab-content-box .tab-content h3 {
  margin-bottom: 15px;
  font-weight: 600;
  color: #0d6efd;
}

.tab-content p {
  color: #5a5a5ad1;
}

.tab-content-box .tab-content.active {
  display: block;
}

.about-one-img-inner {
  position: relative;
  padding-top: 90px;
}

.about-circle-img {
  position: absolute;
  right: 0px;
  top: 0px;
}

.about-one-right-img {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.layer-dots {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 41px;
  height: 39px;
  z-index: 1;
  background-image: url(../assets/images/about-dots.png);
}

.about-award-icon img {
  z-index: 1;
  width: 100%;
}

.about-one-award {
  position: absolute;
  left: 86px;
  right: 20px;
  bottom: -75px;
  padding: 25px 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: white;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  width: 92%;
}

.award-inner {
  position: relative;
  line-height: 28px;
  color: rgb(136, 136, 136);
  padding-left: 70px;
}

.award-inner p {
  font-size: 16px;
}

.about-award-icon {
  position: absolute;
  left: -7px;
  top: 7px;
  width: 21%;
}

.award-inner h4 {
  color: black;
  font-weight: 600;
}

.about-inner-img {
  position: relative;
  z-index: -1;
  left: 68px;
  top: 38px;
}

/* about html part css */
/* counter */

.about-one-counter-block {
  position: absolute;
  left: -16px;
  top: -45px;
  width: 200px;
  height: 200px;
  padding: 20px 25px;
  background: rgb(8, 150, 252);
  background: linear-gradient(
    to right,
    rgb(8, 150, 252) 0%,
    rgb(18, 43, 188) 100%
  );
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.about-counter-box {
  position: relative;
  font-weight: 700;
  line-height: 1em;
  font-size: 60px;
  color: white;
}

.counter-text {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
